.DS_Store
tmux/.tmux/resurrect/
.tmux/plugins
vim/.vim/undodir/
vim/.vim/plugged/
vim/.vim/.netrwhist
ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
nvim/.config/configstore
*.log
node_modules/
nvim/.config/filezilla
nvim/.config/coc/extensions/db.json
nvim/.config/coc/history.json
nvim/.config/coc/snippets-mru
gatsby/
